html{
    font-size: 10px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.head{
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: rgb(143, 169, 151);
}
.navigation-list{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.link{
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 1.4rem;
    color: #333;
    text-decoration: none;
}
.link:hover{
    color: white;
}
.content{
    display: flex;
}
.div-left{
    width: 30%;
    padding: 20px;
    background-color: rgb(167,190,174);
}
.div-right{
    width: 70%;
    padding: 20px;
    background-color: rgb(230,232,210);
}
.paragraph{
    text-align: justify;
    text-indent: 15px;
    line-height: 20px;
    font-size: 1.6rem;
    font-family: "Open Sans";
    word-spacing: 5px;
}
.title-fath{
    font-family:"Open Sans";
    padding: 20px;
    font-size: 2.1rem;
    font-weight: 500;
    border-bottom: 2px solid rgb(53, 53, 53);
    padding-bottom: 5px;
    margin-bottom: 20px;
    color: #333;
    
}
.name{
    max-width: 258px;
    margin-left: auto;
    margin-right: auto;
    color:#333;
    font-weight: 700;
}
.job{
    text-align: center;
    line-height: 20px;
    font-family: "Open Sans";
    font-size: 1.3rem;
    color: #333;
}
.image{
    margin-right: auto;
    margin-left: auto;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-top: 30px;
}
.img-source{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.location{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    gap: 12px;
    line-height: 20px;
    font-size: 1.6rem;
    font-family: "Open Sans";
    word-spacing: 5px;
    color: #333;
}
.location:hover{
    color: white;
}
.number{
    text-decoration: none;
    color: #333;
}
.number:hover{
    color: white;
}
.list-item2{
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 20px;
    font-size: 1.6rem;
    font-family: "Open Sans";
    word-spacing: 5px;
    color: #333;
    margin-top: 12px;
}
ul{
    list-style: none;
}
.list-item2:hover{
color: white;
}
.same{
    margin-top: 39px;
}
.email-link{
    text-decoration: none;
    color: #333;
}
.email-link:hover{
    color: #fff;
}
.svg-1{
    display: inline-block;
    width: 16px;
    height: 16px;
}
.svg-2:hover{
fill: white;
}
.year-and-name{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 1.4rem;
    color: #333;
    gap: 15px;
    text-transform: uppercase;
    cursor: pointer;
}
.year-and-name:hover{
    color: white;
}
.footer-github{
    width: 25px;
    height: 25px;
}